@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;
}

.nav-btn {
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
}

.open-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 5x;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  background-color: #202020;
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-red {
  width: 95%;
  background-color: #e01020;
  transition-delay: 0.2s;
}

.nav-red.visible {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: white;
  width: 95%;
  padding: 30px;
  position: relative;
  transition-delay: 0s;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  position: absolute;
  top: 35px;
  right: 30px;
  padding: 5px;
  opacity: 0.3;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  line-height: 2rem;
}

.nav ul a {
  color: #202020;
  font-size: 14px;
  text-decoration: none;
}

.nav ul li ul {
  padding-left: 1rem;
}
